<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/header :: header">
</head>

<body>
  <header th:replace="fragments/bodyHeader :: bodyHeader">
  </header>
  <section class="border">
    <div class="container row gx-0 row-cols-1 mx-auto border">

      <!-- board -->
      <article class="col card gy-3">
        <div class="card-body p-1">

          <section>
            <p><a th:text="${board?.writer.username}" th:href="|/member/${board?.writer.username}|"
                class="board-writer"></a></p>
          </section>

          <!-- image carousel -->
          <section th:replace="fragments/imageCarousel :: imageCarousel">
          </section>
          
          <!-- board contents etc.. -->
          <section th:replace="fragments/boardContent :: boardContent">
          </section>

        </div>
      </article>


      <!-- comment write -->
      <section class="col card">
        <form onsubmit="commentSave(event)" class="g-3 align-items-center w-100 border">
          <div class="col-md-auto">
            <input type="text" id="commentContent" class="form-control" required>
            <input type="hidden" th:value="${board?.id}" id="boardId" />
          </div>
          <div class="col-md-auto">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </section>

      <!-- comment list-->
      <section id="comment-list" class="col card min-vh-50">
        
        <!-- comment saved failed alert -->
        <section id="comment-save-failed-alert" class="alert alert-danger card-body border d-none" role="alert">
          Faild to save comment...
        </section>

        <div th:each="comment: ${board?.comments}" class="card-body border p-1">
          <p><a th:text="${comment.member.username}" th:href="|/member/${comment.member.username}|"></a></p>
          <p class="align-middle h-100" th:text="${comment.content}"></p>
        </div>
      </section>

    </div>
  </section>
  <footer th:replace="fragments/footer :: footer"></footer>
</body>

</html>