<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <meta charset="UTF-8">
  <title>Art Place</title>
  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
  <link th:href="@{/css/index.css}" rel="stylesheet">
</head>

<body>
  <header class="border border-bottom">
    <div class="container">
      <h1>Art Place</h1>

    </div>
  </header>
  <article class="articleA">
    <div class="container-b">
      <!-- board content container -->
      <div class="board-container-b">
        <div th:each="image : ${board.images}" class="image-container">
          <!-- <a th:href="|/${board?.id}|"> -->
          <img th:src="${image?.fullFilePath}" class="board-image" />
          <!-- </a> -->
        </div>

        <span th:text="${board?.title}" class="board-title"></span>
        <span th:text="${board?.content}" class="board-content"></span>
        <p><a th:text="${board?.writer?.username}" th:href="|/member/${board?.writer?.username}|"
            class="board-writer"></a>
        </p>
        <div th:text="|좋아요 ${board?.likes?.size()}개|" class="board-likes"></div>
      </div>
    </div>
  </article>
</body>

</html>