<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Art Place</title>
  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
  <link th:href="@{/css/index.css}" rel="stylesheet">
</head>

<body>
  <header class="border border-bottom">
    <div class="container">
      <h1>Art Place</h1>
      <a href="/signup">회원가입</a>
      <a href="/login">로그인</a>
      <a href="/upload">글쓰기</a>
    </div>
  </header>
  <article class="articleA">
    <div class="container">
      <li th:each="board: ${boards}" class="board-container">

        <!-- board content container -->
        <div th:each="image : ${board.images[0]}" class="image-container">
          <a th:href="|/${board?.id}|">
            <img th:src="|${s3Domain}${image?.url}|" class="w-100" />
          </a>
        </div>

        <span th:text="${board?.title}" class="board-title"></span>
        <p><a th:text="${board?.member?.username}" th:href="|/member/${board?.member?.username}|" class="board-writer"></a></p>
        <div th:text="|좋아요 ${board?.likes?.size()}개|" class="board-likes"></div>
      </li>
    </div>
  </article>
</body>
</html>