<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <meta charset="UTF-8">
  <title>Art Place</title>
  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
  <link th:href="@{/css/index.css}" rel="stylesheet">
</head>

<body>
  <header class="border border-bottom">
    <div class="container">
      <h1>Art Place</h1>

    </div>
  </header>
  <article class="border ">
    <div class="container">
      <form method="post" th:action="@{/upload}" enctype="multipart/form-data">
        <input type="file" name="files" multiple="multiple"/>
        <input type="text" name="title" placeholder="제목"/>
        <input type="text" name="content" placeholder="내용"/>
        <input type="submit" value="submit" />
      </form>
    </div>
  </article>
  <article class="articleA">
    <div class="container">
      <div th:each="board: ${boards}" class="board-container">

        <!-- board content container -->
        <div th:each="image : ${board.images}" class="image-container">
          <img th:src="${image?.fullFilePath}" class="board-image" />
        </div>
        
        <span th:text="${board?.title}" class="board-title"></span>
        <span th:text="${board?.content}" class="board-content"></span>
        <span th:text="${board?.writer?.username}" class="board-writer"></span>
      </div>
    </div>
  </article>
</body>

</html>